body {
  background-color: rgb(0, 0, 0);
  color: yellow;
}

dd, dt {
  display: flex;
  text-align: center;
}

h1 {
  color: yellow;
  text-align: center;
}

h3, h4 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

.carousel-container {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > img {
  width: 70%;
  height: 70%;
}

.carousel-images {
  max-width: 50%;
  max-height: 50%;
  box-sizing: border-box;
}

.carousel-images img {
  width: 80%;
  height: 80%;
  display: none;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-btn {
  align-self: center;
  background: yellow;
  color: black;
  padding: 10px;
  text-align: center;
}

.carousel-btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}
