body {
  background-color: rgb(0, 0, 0);
  color: yellow;
  font-size: 12px;
}

h1 {
  color: yellow;
  text-align: center;
}

h3, h4 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

.carousel-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-images img {
  width: 400px;
  height: 300px;
  display: none;
}

.carousel-images img:first-of-type {
  display: block;
}

.carousel-btn {
  align-self: center;
  background: yellow;
  color: black;
  padding: 10px;
  text-align: center;
}

.carousel-btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}
